.posts {
  margin: 0 auto;
}
.post {
  margin: 20px auto;
  padding: 20px;
  width: 40vw;
  border-radius: 10px;
  background-color: #d0dd97;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
}
* {
  /* border: 1px solid red; */
}
