.comments p {
  /* float: left; */
  display: flex;
  align-items: flex-start;
}

.comment {
  padding-top: 10px;
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.details{
  padding-top: 10px;
}
.commentinput {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  /* margin: none; */
  width: 80%;
  box-sizing: border-box;
  font-size: 15px;
  /* color: rgb(147, 114, 73); */
  color: gray;
}

* {
  /* border: solid red 1px; */
}

.commentbutton {
  font-size: 15px;
  float: right;
  margin-top: 10px;
  /* top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px; */
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border: hidden;
  padding: 8px;
  border-radius: 10px;
  transition: all 20ms ease-in-out;
}
.commentbutton:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.comment-user{
  margin-left: 10px;
}
.date-comment{
  margin-top: 20px;
  font-size: 10px;
  margin-left: -66px;
}

.comment-data{
  margin-top: 5px;
}